*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.formgreen label
{
    color: rgb(27, 233, 54);
}
.formgreen input
{
    border: 1px solid rgb(27, 233, 54);
}
.table table
{
    margin: 50px auto;
    width: 80%;
    border-collapse: collapse;
}
.table table thead th
{
    background-color: rgb(27, 233, 54);
    color: #fff;
}
.table table td
{
    border: 1px solid rgb(27, 233, 54);
}

.left
{
    position: absolute;
    top: 30px;
    left: 10px;
    color: rgb(27, 151, 233);
    font-weight: bold;
    font-size: 1.54em;
    cursor: pointer;
    transition: .1s;
}
.btn.big
{
    font-size: 2em;
    font-weight: bold;
    padding: 10px 60px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.363);
}
h1
{
    color: rgb(27, 233, 54);
    padding: 50px 10px;
    
}
input
{
    width: 80%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(27, 151, 233);
}
input::placeholder
{
    font-weight: bold;
    color: rgba(192, 192, 192, 0.384);
}
.right
{
    position: absolute;
    bottom: 30px;
    right: 10px;
    color: rgb(27, 233, 54);
    font-weight: bold;
    font-size: 1.54em;
    cursor: pointer;
    transition: .1s;
}
.right:hover,.left:hover
{
    transform: scale(0.9);
    color: rgba(27, 233, 55, 0.541);
    transition: .1s;
}

.image-index
{
    image-resolution: 1300*768;
}