
{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="left" onclick="location.href='/'" >EXIT</div>
    <h1>DASHBOARD</h1>
    <input type="text" name="" placeholder="Ecrit  le nom" id="">
    <div class="table">
        <table>
            <thead>
                <th>Noms</th>
                <th>Email</th>
                <th>No Party</th>
                <th>Nombre de mots maitrisés</th>
            </thead>
            <tbody>
                <tr>
                    <td>**</td>
                    <td>**</td>
                    <td>**</td>
                    <td>**</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="btn btn-primary big" onclick="location.href='/menu'">PLAY</div>  
</div>
{% endblock body %}